<%- include header %>
<p></p>
<div class="container">
	<div calss="row">
		<div class="col-x8-4 col-x8-offset-4">
			<form method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="title" placeholder="标题">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="tag" placeholder="标签">
				</div>
					<div class="form-group">
					<textarea  class="form-control" name="content" placeholder="文章内容"></textarea>
				</div>
				<button type="submit" class="btn btn-default center-block" align="center">发表</button>
			</form>
		</div>
	</div>
</div>

<%- include footer %>